.hidden {
  overflow: hidden !important;
}

/**/
.from-left {
  -webkit-transition: translateX 2.5s;
  transition: translateX 2.5s;
  -webkit-transform: translateX(-100vw);
  transform: translateX(-100vw);
}

.from-left.show {
  animation: from-left 5s forwards;
}

@-webkit-keyframes from-left {
  0% {
    -webkit-transform: translateX(-100vw);
  }

  50%,
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-100vw);
  }

  50%,
  100% {
    transform: translateX(0);
  }
}

/**/
.from-bottom {
  -webkit-transition: translateY 2.5s;
  transition: translateY 2.5s;
  -webkit-transform: translateY(100vh);
  transform: translateY(100vh);
}

.from-bottom.show {
  transform: translateY(0);
  animation: from-bottom 5s forwards;
}

@-webkit-keyframes from-bottom {
  0% {
    -webkit-transform: translateY(100vh);
  }

  50%,
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes from-bottom {
  0% {
    transform: translateY(100vh);
  }

  50%,
  100% {
    transform: translateY(0);
  }
}

/**/
.from-right {
  -webkit-transition: translateX 2.5s;
  transition: translateX 2.5s;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}

.from-right.show {
  transform: translateX(0);
  animation: from-right 5s forwards;
}

@-webkit-keyframes from-right {
  0% {
    -webkit-transform: translateX(100vw);
  }

  50%,
  100% {
    -webkit-transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    transform: translateX(100vw);
  }

  50%,
  100% {
    transform: translateX(0);
  }
}

/**/
.from-top {
  -webkit-transition: translateY 2.5s;
  transition: translateY 2.5s;
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

.from-top.show {
  transform: translateY(0);
  animation: from-top 5s forwards;
}

@-webkit-keyframes from-top {
  0% {
    -webkit-transform: translateY(-100vh);
  }

  50%,
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes from-top {
  0% {
    transform: translateY(-100vh);
  }

  50%,
  100% {
    transform: translateY(0);
  }
}

/**/
.rotate-y {
  -webkit-transition: rotateY 2.5s;
  transition: rotateY 2.5s;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.rotate-y.show {
  transform: rotateY(0);
  animation: rotate-y 5s forwards;
}

@-webkit-keyframes rotate-y {
  0% {
    -webkit-transform: rotateY(90deg);
  }

  50%,
  100% {
    -webkit-transform: rotateY(0);
  }
}

@keyframes rotate-y {
  0% {
    transform: rotateY(90deg);
  }

  50%,
  100% {
    transform: rotateY(0);
  }
}

/**/
.rotate-x {
  -webkit-transition: rotateX 2.5s;
  transition: rotateX 2.5s;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.rotate-x.show {
  transform: rotateX(0);
  animation: rotate-x 5s forwards;
}

@-webkit-keyframes rotate-x {
  0% {
    -webkit-transform: rotateX(90deg);
  }

  50%,
  100% {
    -webkit-transform: rotateX(0);
  }
}

@keyframes rotate-x {
  0% {
    transform: rotateX(90deg);
  }

  50%,
  100% {
    transform: rotateX(0);
  }
}

/**/
.scale {
  -webkit-transition: scale 2.5s;
  transition: scale 2.5s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.scale.show {
  transform: scale(0);
  animation: scale 5s forwards;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
  }

  50%,
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  50%,
  100% {
    transform: scale(1);
  }
}

/**/
.opacity {
  transition: opacity 2.5s;  
  opacity: 0;
}

.opacity.show {
  opacity: 0;
  animation: opacity 5s forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50%,
  100% {
    opacity: 1;
  }
}